<nav id="header" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
<i class="fa-solid fa-carrot"></i> Calorie-Coach</a>
  <div class="ms-auto">
    <a href="/food-items" class="btn btn-outline-primary me-2">Food Database</a>
  </div>
</nav>